<% @music_title.each do |m| %>
 <p> <%= m.title %>
    <%= link_to m.video_url.to_s do %>
      <%= image_tag(m.video_url(:screenshot).to_s, id: "video", :alt => "screenshot") %>
    <% end %>
</p>
<hr>
<% end %>
